@import "../../scss/index.scss";

.card_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 2px;
  &_table {
    width: 50%;
  }
}

@media (min-height: 600px) {
  .card_wrapper {
    height: 50vh;

    &_table {
      height: 100%;
    }
  }
}
