@import "../../scss/index.scss";

.ui.grid.logged-layout {
  background-color: $background-light;
  min-height: 85vh;
  margin: 0px;
  padding: 0px;

  > .row {
    padding: 0;

    &:first-of-type {
      height: 85vh;
      overflow: hidden;
    }
    &:last-of-type {
      height: 10vh;
      background-color: black;
      position: absolute;
      bottom: 0;
      overflow: hidden;
      .logo_div {
        display: flex;
        justify-content: center;
      }
    }
    > .wide {
      height: 85vh;
    }
    > .column {
      padding: 0;
    }
  }
}
