@import "../../scss/index.scss";

.ui.grid.logged-layout {
  background-color: $background-white-ghost;
  min-height: 85vh;
  margin: 0px;
  padding: 0px;

  > .row {
    padding: 0;

    &:first-of-type {
      height: 80vh;
      overflow: hidden;
    }
    &:last-of-type {
      height: 15vh;
      background-color: $primary-color;
      position: absolute;
      bottom: 0;
    }
    .wide{
      height: 80vh;
    }
    > .column {
      padding: 0;
    }
  }
}
