@import "../../scss/index.scss";

.ui.table td {
  width: 50px !important;
  padding: 0px 0px 0px 0px !important;
}
.file-form {
  .ui.form {
    .field {

      .input {
        
        input {

          background-color: $primary-color;
          font-size: 16px;
          color: $font-light;

          &:hover,
          &:active,
          &:focus {
            background-color: $background-grey-hover;
            border: 0;
          }
        }
        &.error {
          input {
            border-bottom: 3px solid $danger;
          }
        }
      }
    }

    .button {
      width: 30%;
      background-color: $primary-color;
      border-radius: 50px;
      padding: 17px 0;
    }

    .error-text {
      color: red;
      padding-left: 15px;
    }
  }
}
